/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg-color: #ffffff; /* Fundo claro */
  --text-color: #000000; /* Texto claro */
}

html[data-theme='dark'] {
  --bg-color: #1a1a1a; /* Fundo escuro */
  --text-color: #f5f5f5; /* Texto claro */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
